@charset "UTF-8";
/* リキッドレイアウト対応 */
body {
  font-family: "";
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.aside {
  display: block;
  background: rgb(154, 205, 50);
}
@media screen and (min-width: 768px) {
  .aside {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .card {
    display: block;
  }
}

.card figure {
  display: block;
  overflow: hidden;
  padding-top: 63%;
  position: relative;
}
.card figure img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.card-title,
.card-read {
  padding: 3px;
  padding: 0.1875rem;
  text-align: left;
}
.cards-box {
  display: block;
  text-align: center;
  padding-bottom: 30px;
  padding-bottom: 1.875rem;
}
@media screen and (min-width: 768px) {
  .cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.container {
  display: block;
  background: #ee82ee;
  width: 100%;
  height: 200dvh;
  margin: 0 auto;
  padding-top: 40px;
  padding-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 93.75rem;
  }
}

.footer {
  background: rgb(65, 105, 225);
}

.footer-inner {
  display: block;
  max-width: 1500px;
  max-width: 93.75rem;
  width: 100%;
  margin: 0 auto;
}
.header {
  display: block;
  width: 100%;
  background: rgb(230, 230, 250);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: top 0.3s ease;
  transition: top 0.3s ease;
  z-index: 1;
}

.header.hidden {
  top: -100px;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1500px;
  max-width: 93.75rem;
  width: 100%;
  margin: 0 auto;
}
.header-menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-menu a {
  display: block;
  padding: 0 30px;
  padding: 0 1.875rem;
}

.header-menu li.blue {
  display: block;
  background: rgb(0, 0, 205);
  color: rgb(255, 255, 255);
}
.main {
  display: block;
  max-width: 1500px;
  max-width: 93.75rem;
  width: 100%;
  background: rgb(175, 238, 238);
  padding: 30px;
  padding: 1.875rem;
}
.main-service h2 {
  display: block;
  padding-bottom: 30px;
  padding-bottom: 1.875rem;
}
.main-works h2 {
  display: block;
  padding-bottom: 30px;
  padding-bottom: 1.875rem;
}
@media screen and (min-width: 768px) {
  .main-works-cards.cards-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
/*# sourceMappingURL=styles.css.map */
